
<meta charset="utf-8">

<title>
    Prueba demo Blazor
    @*@ViewBag.App*@
    @*@if (ViewBag.Title?.Length > 0)
        {
            <text>@ViewBag.Title @ViewBag.Category1 - @ViewBag.App @(ViewBag.Version)</text>
        }
        else
        {
            @ViewBag.App
        }*@
</title>
<input type="hidden" id="colorTablas" value="" />

<meta name="description" content="">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no, minimal-ui">
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="msapplication-tap-highlight" content="no">
<link rel="icon" type="image/png" href="/images/Logo/IconoImaSoft.png">

<link rel="stylesheet" media="screen, print" href="/css/Plantilla/css/vendors.bundle.css">
<link rel="stylesheet" media="screen, print" href="/css/Plantilla/css/app.bundle.css">
<link id="myskin" rel="stylesheet" media="screen, print" href="/css/Plantilla/css/skins/skin-master.css">

<link rel="stylesheet" media="screen, print" href="/css/Plantilla/css/site.css">


<link href="/css/Plantilla/Content/flags/css/flag-icon.min.css" rel="stylesheet" />

<link href="/css/Plantilla/content/kendo/2021.2.515/kendo.common.min.css" rel="stylesheet" />
<link href="/css/Plantilla/Content/Kendo/2021.2.515/kendo.common-material.min.css" rel="stylesheet" type="text/css" />
<link href="/css/Plantilla/Content/Kendo/2021.2.515/kendo.mobile.all.min.css" rel="stylesheet" type="text/css" />
<link href="/css/Plantilla/Content/Kendo/2021.2.515/kendo.dataviz.min.css" rel="stylesheet" type="text/css" />
<link href="/css/Plantilla/Content/Kendo/2021.2.515/kendo.material.min.css" )" rel="stylesheet" type="text/css" />
<link href="/css/Plantilla/Content/assets/plugins/switchery/switchery.css" )" rel="stylesheet" type="text/css" />

<link href="/css/plantilla/css/override/OverrideLayout.css" rel="stylesheet" />
<link href="/css/Plantilla/css/override/OverrideUnitario.css" rel="stylesheet" />


<_ColorProfileReference />

